# Virtual Environment
venv/

# Python
__pycache__/
*.pyc

# Environment
.env

# Database
db.sqlite3

# Static
staticfiles/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

mymessenger-dfa86-firebase-adminsdk-fbsvc-b834e160dc.json